* {
  font-family: sans-serif;
  background-color: #3b536b;
  color: white;
  line-height: 1.2;
}
body {
  max-width: 80ex;
  margin: auto;
}
strong {
  color: #32F486;
}
span {
  color: #13c15f;
  font-weight: bold;
}
b {
  color: #d880fc;
}
.floater {
  display: block;
  margin: 1em;
  float: right;
}
